<%- include('partials/header') -%>
<nav class="navbar navbar-expand-lg bg-body-black" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sailboat</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  </div>
</nav>
<div class="splash">
  <div id="error"></div>
  <div class="wrapper">
    <div class="logo-column">
      <img class="logo" src="https://cdn.discordapp.com/attachments/1233790209259474995/1242845360494215272/exis.png?ex=664f5170&is=664dfff0&hm=210b3b95266bb8de22b6f3e653d7a3604ee02a57c08ff6a875436992a8d4009e&" alt="exis Logo" />
    </div>
    <div class="info-column">
      <h1>Sailboat</h1>
      <div class="description">
        Sailboat is a private moderation bot for Discord, designed with large servers and reliability in mind.
      </div>
      <div class="actions">
        <a class="btn" href="/dashboard">Dashboard</a>
      </div>
      <div>
        <a class="btn" href="/docs">Documentation</a>
      </div>
      <div>
        <a class="btn" href="/premium">Premium</a>
      </div>
      <div>
        <a  class="btn" href="https://github.com/Draxxx-xoxo/Sailboat">GitHub</a>
      </div>
      <div>
        <a  class="btn"href="https://discord.gg/GpFaE2AGZc">Discord</a>
      </div>

    </div>
  </div>
</div>
<%- include('partials/footer') -%>